body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
.mainname{
    font-weight: 300;
    letter-spacing: 1px;
}
.mainnav{
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    color: dimgrey;
}
.mainsocial{
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 1px;
    color: dimgrey;
}
a.smlink:link {
    color: dimgrey;
}
a.smlink:visited {
    color:dimgrey;
}
a.smlink:hover{
    color:black;
    text-decoration: underline
}
.ptitle{
    letter-spacing: 1px;
    font-size: 22px;
}
.smallheader{
    font-size: 12px;
    font-weight: bold;
}
.smalltext{
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: dimgrey;
}